---
import { profileContent } from "./SideBarProfile.astro";

export let socials = ["website", "github", "twitter", "linkedin"];
---

<div
  class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons text-2xl px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    {socials.map((key) => (
        profileContent[key] && profileContent[key].target &&
        <a href={profileContent[key].target} target="_blank" class="mx-3" aria-label={key} title={key}>
            <i class={`bi ${profileContent[key].icon}`}></i>
        </a>
    ))}
</div>