---
import SideBarMenu from "./SideBarMenu.astro";
import SideBarProfile from "./SideBarProfile.astro";
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col">
    <div class="w-full p-6">
        <div class="avatar transition ease-in-out block m-auto">
          <div class="max-w-48 relative inset-0 flex mx-auto">
            <Image class="mask mask-circle m-auto" format="webp" width={300} height={300} src="/profile.webp" alt="Profile image" />
          </div>
        </div>
        <SideBarProfile />
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>
